[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[.github-actions.yml]
indent_size = 2

[taskfile.yml]
indent_size = 2
